<a href="https://colab.research.google.com/github/irahman123/machineLearning/blob/main/creditcard_autopayment_probability_svm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [ ]:
from google.colab import files
files.upload()

In [14]:
df= pd.read_csv('credit card taiwan svm algorithm.csv')
df

          ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0          1    20000.0    2  ...       0.0       0.0                           1
1          2   120000.0    2  ...       0.0    2000.0                           1
2          3    90000.0    2  ...    1000.0    5000.0                           0
3          4    50000.0    2  ...    1069.0    1000.0                           0
4          5    50000.0    1  ...     689.0     679.0                           0
...      ...        ...  ...  ...       ...       ...                         ...
29995  29996   220000.0    1  ...    5000.0    1000.0                           0
29996  29997   150000.0    1  ...       0.0       0.0                           0
29997  29998    30000.0    1  ...    2000.0    3100.0                           1
29998  29999    80000.0    1  ...   52964.0    1804.0                           1
29999  30000    50000.0    1  ...    1000.0    1000.0                           1

[30000 rows x 25 columns]

In [35]:
df.shape

(30000, 25)

In [ ]:
df.isnull().sum()

In [18]:
#null value handeled
df.AGE = df.AGE.fillna(df.AGE.median())

In [37]:
x= df.drop(['default.payment.next.month'], axis = 1)

In [ ]:
y= df['default.payment.next.month']
y

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [48]:
xtrain, xtest ,ytrain, ytest = train_test_split(x, y, test_size= 0.25, random_state = 1)
ytrain

26340    0
3877     0
27081    0
5440     0
22164    0
        ..
17289    1
5192     0
12172    0
235      0
29733    0
Name: default.payment.next.month, Length: 22500, dtype: int64

In [44]:
model= SVC(gamma = 'auto')

In [49]:
model.fit(xtrain, ytrain)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [50]:
model.score(xtest, ytest)

0.7776

In [51]:
#random forest classifier
from sklearn.ensemble import RandomForestClassifier
rclf = RandomForestClassifier()

In [52]:
rclf.fit(xtrain, ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [53]:
rclf.score(xtest, ytest)

0.8124

In [54]:
#decision tree classifier 
from sklearn.tree import DecisionTreeClassifier
dclf = DecisionTreeClassifier()

In [55]:
dclf.fit(xtrain, ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [56]:
dclf.score(xtest, ytest)

0.7248