<a href="https://colab.research.google.com/github/irahman123/machineLearning/blob/main/Decision_tree_with_Lebel_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
df = files.upload()

In [ ]:
df = pd.read_csv('shop_data.csv')

In [ ]:
df

In [ ]:
x= df.iloc[:, :-1]
x

In [ ]:
y = df.iloc[:, 4]
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
14     no
Name: buys, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder()

LabelEncoder()

In [ ]:
#Le_x =

In [ ]:
x = x.apply(LabelEncoder().fit_transform)
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtf = DecisionTreeClassifier()

In [ ]:
import numpy as np

In [ ]:
dtf.fit(x.iloc[:, 0:4], y)

In [ ]:
xinput = np.array([1,0,1,0])

In [ ]:
ypred = dtf.predict([xinput])
ypred

array(['no'], dtype=object)